---
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="SmartLinks – SmartPages" sidebar={true} header={true}>
  <h1 class="text-2xl font-bold text-smart-full-links mt-10 text-center">
    ✅ SmartLinks Page works!
  </h1>
</PageLayout>
