---
import "../styles/global.css";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><slot name="title" /> | SmartPages</title>
  </head>

  <body class="min-h-screen font-sans bg-white text-smart-text">
    <main>
      <slot />
    </main>
  </body>
</html>
