---
// src/layouts/PageLayout.astro
import "~/styles/global.css";
import SmartSidebar from "~/components/shared/SmartSidebar.astro";

const { sidebar = false } = Astro.props;
---

<div class="min-h-screen flex bg-[#F7F8FA] font-sans text-smart-text">

  {sidebar && <SmartSidebar />}

  <div class={`flex-1 flex flex-col ${sidebar ? "md:ml-64" : ""}`}>
    <slot />
  </div>

</div>
