---
import SmartHeader from "~/components/shared/SmartHeader.astro";
import SmartSidebar from "~/components/shared/SmartSidebar.astro";

const {
  sidebar = false,
  header = false,
} = Astro.props;
---

{header && <SmartHeader />}

<div class="flex">
  {sidebar && <SmartSidebar />}

  <main class={sidebar ? "ml-64 w-full" : "w-full"}>
    <slot />
  </main>
</div>
